@using System.Collections.Generic
@using Markel.REMUS.Infrastructure.Nancy.Extensions

@{
    Layout = "Shared/StaticLayout";
}

@section navigation {
    <header class="global-banner">
        <a class="logo" href='@ViewBag.LogoClickThrough'>
            <img src='@RenderContext.Context.AppendBuildNumber("/Content/Images/markel-logo-white.svg")' alt="Markel" class="white-logo" />
            <!-- Black logo Image is used for print style, as there is no other way to print white image as black, and filter:invert(100%) doesn't work in IE-->
            <img src='@RenderContext.Context.AppendBuildNumber("/Content/Images/markel-logo-black.svg")' alt="Markel" class="black-logo" />
        </a>
        <div class="primary-navigation-and-utility-navigation">
        </div>
    </header>
}

<article class="static-error">
    <section class="panel-alpha panel--centered">
        @{
            int responseCode = ((int)(RenderContext.Context.Response.StatusCode));
            string languageCode = Url.RenderContext.Context.Culture.TwoLetterISOLanguageName;
            var iconsForErrors = new Dictionary<int, string>
            {
                { 404, "icon-chain-broken"},
                { 403, "icon-minus-circle"},
                { 500, "icon-exclamation-triangle"}
            };
        }

        <i class="@iconsForErrors[responseCode]"></i>
        @Html.Partial(string.Format("design_system/components/error-pages/template/{0}_{1}", responseCode, languageCode))
    </section>
</article>
